<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <!-- new -->
              <% if(error) {%>
                <p class="errorprint"><%=err%></p>
              <%}%>

              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>
          <br>
          <p>Already registered? <a href="/login" >Log In</a> </p>

        </div>
      </div>
    </div>

    <!-- use this div only for lvl6 -->
    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
           <a class="btn btn-block" href="/auth/google" role="button">    <!--makes get req to /auth/google -->
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
          <a class="btn btn-block" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
          </a>
        </div>
      </div>
    </div>
    <!-- upto here -->

  </div>
</div>

<%- include('partials/header') %>
