<%- include('partials/header') %>
<%if(passport){%>
<p class="username-topleft">You are logged in as: <em><%= passport.user.username %></em></p>
<%}else{%>
  <p class="username-topleft">Not logged in</p>
  <%}%>
<div class="">
  <div class="">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="head-line">Whispers in the Void: Anonymously Shared Secrets</h1>
    <div class="secrets-boxes">
      <% usersWithSecrets.forEach(function(user) { %>
        <% user.secret.forEach(function(secret) { %>
          <%if(secret!=""){%>
            <p class="secret-text"><%= secret %></p>
          <%}%>
        <% }) %>
      <% }) %>
    </div>
    
    

    <div class="bottom-buttons">
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
    
  </div>
</div>

<%- include('partials/footer') %>
